Ejercicios/XML/DTD/Producto/producto2/producto2.dtd

<!ELEMENT lista (producto+)>
	<!ELEMENT producto (nombre, fabricante, precio+)>
		<!ELEMENT nombre (#PCDATA)>
		<!ELEMENT fabricante (empresa, localidad?)>
			<!ELEMENT empresa (#PCDATA)>
			<!ELEMENT localidad (#PCDATA)>
		<!ELEMENT precio (#PCDATA)>
			<!ATTLIST precio cliente (final|distribuidor) "Sin asignar">
