Ejercicios/XML/DTD/novedades/novedades3/novedades3.dtd

<!ELEMENT novedades (novedad+)>
	<!ELEMENT novedad (titulo, url, descripcion)>
		<!ATTLIST novedad clave ID #REQUIRED>
		<!ATTLIST novedad estaRelacionadaCon IDREFS #IMPLIED>
		<!ATTLIST novedad fecha CDATA #REQUIRED>
	<!ELEMENT titulo (#PCDATA)>
	<!ELEMENT url (#PCDATA)>
	<!ELEMENT descripcion (#PCDATA)>