Ejercicios/XML/DTD/Biblioteca/bibliotecaLibrosRevistas2.dtd

<!ELEMENT biblioteca (libro+, revista+)>
	<!ELEMENT revista (titulo, fechaPublicacion)>
		<!ELEMENT titulo (#PCDATA)>
		<!ELEMENT fechaPublicacion (#PCDATA)>
	<!ELEMENT libro (titulo, autor, fechaPublicacion)>
		<!ELEMENT titulo (#PCDATA)>
		<!ELEMENT autor (#PCDATA)>
		<!ELEMENT fechaPublicacion (#PCDATA)>